/bin
/obj
*.o
*.exe
*.depend
cuentapalabras/cuentapalabras.layout
*.layout
cuentapalabras/.vscode/c_cpp_properties.json
*.layout
cuentapalabras/.vscode/settings.json
cuentapalabras/cuentapalabras.layout
