/bin
/obj
/documentacion/
/documentacion/rtf
*.o
*.exe
*.depend
cuentapalabras/cuentapalabras.layout
*.layout
cuentapalabras/.vscode/c_cpp_properties.json
*.layout
*.dot
cuentapalabras/.vscode/settings.json
cuentapalabras/cuentapalabras.layout
cuentapalabras/documentacion/Doxyfile
*.rtf
*.json
*.cbp
cuentapalabras/cuentapalabras.cbp
